header {
  background-image: url(img/2promyc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;

}

.logo {
  position: absolute;
  top: 10px;
  width: 55px;
  height: 45px;
  padding-top: 20px;
  padding-left: 200px;
  align-items: center;

}

.icon {
  width: 18px;
  height: auto;
}

.navbar {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-right: 100px;
  color: white;

}

.navbar ul {
  list-style: none;
  font-family: 'Armstrong', sans-serif;
  font-size: 15px;
  display: flex;
  margin: 0;
  padding-left: 600px;
  padding-bottom: 25px;
  gap: 30px;
}

h1 {
  text-align: center;
  font-family: 'Permanent Marker';
  font-size: 45px;
  padding-top: 180px;
  color: white;
  letter-spacing: 100%;
  font-weight: 100;
}

h4 {
  font-family: 'Lato';
  font-size: 16px;
  text-align: center;
  color: white;
  padding-bottom: 1px;
}

.name {
  font-family: 'Lato';
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
  text-indent: 10px;
}

.aboutus {
  font-family: 'Lato';
  text-align: center;
  font-size: 17px;
  padding-bottom: 60px;
}

.section2 {
  background-color: black;
  display: flex;
  height: 380px;
  color: white;

}

.section2 img {
  height: 380px;
  width: 660px;

}

.explain2 {
  padding-left: 100px;
  padding-top: 50px;
  font-family: 'Lato';
}

h2 {
  font-size: 40px;
  font-family: 'Permanent Marker';
}

.h3 {
  font-family: 'Lato';
  text-align: center;
  font-size: 32px;
}

.h3p {
  font-family: 'Lato';
  text-align: center;
  font-size: 17px;
}

.ntg {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 380px;
  padding-top: 200px;
  gap: 100px;
}

.hnv {
  background-color: #f8f2e7;
  padding: 20px;
  padding-bottom: 50px;
}

table {
  background-color: #f8f2e7;
  margin-left: 180px;
  margin-top: 50px;
  border-collapse: separate;
  border-spacing: 100px 0px;
}

.caption {
  font-size: 15px;
  font-family: 'Lato';
}

.caption2 {
  text-align: center;
  font-size: 10px;
  font-family: 'Lato';
}

.frame {
  width: 56px;
  height: 44px;
}

.section4 {
  font-family: 'Lato';
  background-color: rgb(255, 255, 255);
  display: flex;
  height: auto;
  color: rgb(0, 0, 0);
  font-size: 17px;
}

.section4 img {
  padding-left: 250px;
  height: 350px;
  width: 650px;
}

.heading {
  padding-left: 100px;
  padding-top: 80px;
  font-family: 'Lato';
  font-size: 15px;
  bottom: 30px;
}

.picexp {
  font-family: 'Lato';
  font-size: 20px;
}

.section5 {
  background-image: url(img/blurred\ 2nd\ bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.section5 div {
  text-align: center;
  padding-top: 50px;
  font-family: 'Lato';
  font-size: 15px;
}

.section5 h3 {
  font-family: 'Lato';
  font-size: 24px;
}

.png {
  background-color: #f8f2e700;
  font-family: 'Lato';
  font-size: 15px;
  margin-left: 200px;
  text-align: center;
}

.png0 {
  background-color: #f8f2e700;
  font-family: 'Lato';
  font-size: 15px;
  margin-left: 200px;
  text-align: center;

}

.size {
  height: 28px;
  width: 25px;
}

.letter {
  font-size: 10px
}

.space {
  width: 180px;
}

.section6 {
  background-color: hsla(0, 0%, 10%, 1);
  display: flex;
  color: white;
  font-size: 17px;
  font-family: 'Lato';
}

.section6 h2 {
  position: relative;
  font-size: 35px;
  right: 550px;
  padding-top: 30px;
}

.section6 img {
  position: relative;
  left: 50%;
  width: 625px;
  height: 380px;
}

.section6 p {
  position: relative;
  font-size: 15px;
  right: 550px;
  padding-bottom: 30px;
}

.section7 {
  background-image: url(img/pink-2nd-cloud.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 60px;
  padding-top: 30px;
}

.center {
  font-family: 'Lato';
  text-align: center;
}

.center h3 {
  font-size: 25px;
  text-align: center;
}

.center p {
  font-size: 15px;
  text-align: center;
}

.colourless {
  font-family: 'Lato';
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding-right: 200px;
  padding-left: 10%;
  margin-right: 80%;
}

.pic {
  width: 45px;
  height: 40px;
}

.section8 {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 380px;
  color: rgb(0, 0, 0);

}

.section8 img {
  height: 380px;
  width: 660px;

}

.para {
  padding-left: 100px;
  padding-top: 55px;
  font-family: 'Lato';
}

.para h2 {
  font-size: 20px;
  font-family: 'Lato';
  padding-top: 50px;
}

.para p {
  font-size: 12px;
  font-family: 'Lato';
}

.section9 {
  background-color: hsla(40, 55%, 94%, 1);
  padding-top: 50px;
  padding-bottom: 120px;
}

.section9 h2 {
  font-family: 'Lato';
  text-align: center;
  font-size: 30px;
}

.section9 p {
  font-family: 'Lato';
  text-align: center;
  padding-bottom: 30px;
}

.box {

  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  flex-basis: 50px;
  margin-left: 230px;
  margin-right: 230px;

}

.card {
  flex: 0 0 230px;
  background-color: white;
  width: 0px;
  height: 360px;
  padding: 15px;
  border: 1px solid #ececec;
  border-radius: 12px;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Lato';
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 1px;
}

.card h4 {
  color: black;
  font-size: 17px;
  font-family: 'Lato';
}

.card p {
  font-size: 10px;
  font-family: 'Lato';
}

.box2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 50px;
  margin-left: 380px;
  margin-right: 380px;

}

.section10 {
  background-color: hsla(0, 0%, 100%, 1);
  display: flex;
}

.section10 h4 {
  color: black;
  font-family: 'Permanent Marker';
  font-size: 25px;
  text-align: start;
  padding-left: 300px;
  padding-top: 80px;
}

.parag {
  font-family: 'Lato';
  font-size: 12px;
  padding-bottom: 60px;
  padding-left: 300px;
}

.section10 button {
  border-radius: 15px;
  font-size: 10px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.abc {
  padding-top: 150px;
  padding-left: 200px;
}

.footer {
  background-color: black;
  font-family: 'Lato';
  color: white;
}

.icons {
  padding-left: 200px;
}

.footerlogo {
  font-size: 20px;
  font-family: 'Armstrong', sans-serif;
  padding-top: 50px;
  padding-left: 200px;
}

address {
  padding-top: 10px;
  padding-left: 200px;
  font-size: 12px;
}

.subscribe h4 {
  padding-left: 10px;
  font-size: 10px;
  font-family: 'Armstrong', sans-serif;

}

.subscribe {
  padding-left: 700px;

}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 650px;
    overflow-x: hidden;
  }



}